USE [master]
GO
/****** Object:  Database [BDII]    Script Date: 17.06.2019 18:42:06 ******/
CREATE DATABASE [BDII]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDII', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDII.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDII_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDII_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDII].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDII]
GO
/****** Object:  User [LENOVO_520S\pawel]    Script Date: 17.06.2019 18:42:06 ******/
CREATE USER [LENOVO_520S\pawel] FOR LOGIN [LENOVO_520S\pawel] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 17.06.2019 18:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[File] [varbinary](max) NOT NULL,
	[SectionID] [int] NOT NULL,
	[Details] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presence]    Script Date: 17.06.2019 18:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presence](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Group_StudentID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Present] [bit] NOT NULL,
 CONSTRAINT [PK_Presence] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 17.06.2019 18:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GroupSize] [tinyint] NOT NULL,
	[TopicID] [int] NULL,
	[SemID] [int] NOT NULL,
	[Status] [varchar](5) NOT NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sem_Student]    Script Date: 17.06.2019 18:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sem_Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SemID] [int] NOT NULL,
	[StudentAlbumNr] [varchar](6) NOT NULL,
 CONSTRAINT [PK_Sem_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sems]    Script Date: 17.06.2019 18:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudyField] [varchar](127) NOT NULL,
	[Year] [smallint] NOT NULL,
	[Sem] [smallint] NOT NULL,
 CONSTRAINT [PK_Sems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 17.06.2019 18:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[AlbumNr] [varchar](6) NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[AlbumNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students_Groups]    Script Date: 17.06.2019 18:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students_Groups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[StudentAlbumNr] [varchar](6) NOT NULL,
	[Mark] [float] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Students_Groups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 17.06.2019 18:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AcademicDegree] [varchar](15) NOT NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 17.06.2019 18:42:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [varchar](1000) NOT NULL,
	[Status] [varchar](5) NOT NULL,
	[TeacherID] [int] NOT NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17.06.2019 18:42:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](100) NOT NULL,
	[Salt] [varchar](255) NULL,
	[Hash] [varchar](255) NOT NULL,
	[TypeOfUser] [varchar](3) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [FK_Files_Sections]    Script Date: 17.06.2019 18:42:07 ******/
CREATE NONCLUSTERED INDEX [FK_Files_Sections] ON [dbo].[Files]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Presence] ADD  CONSTRAINT [DF_Presence_Presence]  DEFAULT ((0)) FOR [Present]
GO
ALTER TABLE [dbo].[Sections] ADD  CONSTRAINT [DF_Sections_Status]  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Students_Groups] ADD  CONSTRAINT [DF_Students_Groups_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Topics] ADD  CONSTRAINT [DF_Topics_Status]  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_Sections] FOREIGN KEY([SectionID])
REFERENCES [dbo].[Sections] ([ID])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_Sections]
GO
ALTER TABLE [dbo].[Presence]  WITH CHECK ADD  CONSTRAINT [FK_Presence_Student] FOREIGN KEY([Group_StudentID])
REFERENCES [dbo].[Students_Groups] ([ID])
GO
ALTER TABLE [dbo].[Presence] CHECK CONSTRAINT [FK_Presence_Student]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Sems] FOREIGN KEY([SemID])
REFERENCES [dbo].[Sems] ([ID])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Sems]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Topics] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topics] ([ID])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Topics]
GO
ALTER TABLE [dbo].[Sem_Student]  WITH CHECK ADD  CONSTRAINT [FK_Sem_Student_Sems] FOREIGN KEY([SemID])
REFERENCES [dbo].[Sems] ([ID])
GO
ALTER TABLE [dbo].[Sem_Student] CHECK CONSTRAINT [FK_Sem_Student_Sems]
GO
ALTER TABLE [dbo].[Sem_Student]  WITH CHECK ADD  CONSTRAINT [FK_Sem_Student_Students] FOREIGN KEY([StudentAlbumNr])
REFERENCES [dbo].[Students] ([AlbumNr])
GO
ALTER TABLE [dbo].[Sem_Student] CHECK CONSTRAINT [FK_Sem_Student_Students]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users]
GO
ALTER TABLE [dbo].[Students_Groups]  WITH CHECK ADD  CONSTRAINT [FK_Students_Groups_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Sections] ([ID])
GO
ALTER TABLE [dbo].[Students_Groups] CHECK CONSTRAINT [FK_Students_Groups_Groups]
GO
ALTER TABLE [dbo].[Students_Groups]  WITH CHECK ADD  CONSTRAINT [FK_Students_Groups_Students] FOREIGN KEY([StudentAlbumNr])
REFERENCES [dbo].[Students] ([AlbumNr])
GO
ALTER TABLE [dbo].[Students_Groups] CHECK CONSTRAINT [FK_Students_Groups_Students]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Users]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_Teachers] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teachers] ([ID])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_Teachers]
GO
USE [master]
GO
