<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.BDIIConnectionString"
            connectionString="Data Source=LENOVO_520S;Initial Catalog=BDII;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>